#BlogAdmin {

    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#mainBlogAdmin {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#mainBlogAdmin fieldset {

    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#mainBlogAdmin fieldset input{

    color: #FFF;

}

#mainBlogAdmin fieldset textarea {

    width: 103%;
    height: 500px;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 5vh;

}

.sendButtonBlog {

    cursor: pointer;
    padding: 15px;
    background-color: #DBB826;
    border-radius: 5px;
    font-size: 11pt;
    margin-bottom: 10vh;

}

.defaultSectionAdmin {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.defaultSectionAdmin select {

    width: 50%;
    border-radius: 5px;
    background-color: black;
    border: none;
    margin: 3px 0px 50px 0px;
    padding: 16px 24px;
    font-size: 14px;
    color: #DBB826;

}

@media screen and (max-width: 768px) {

    #mainBlogAdmin {

        width: 80%;

    }

}